### Testing Chi-Squared and Correlations

In [1]:
import json
from matplotlib import pyplot as plt
import datetime as dt
import pandas as pd

In [3]:
with open('/Volumes/Drive2/EMAT22110_Notebooks/ethan_instagram/likes/liked_posts.json') as k:
    elikes = json.load(k)
print(elikes.keys())

dict_keys(['likes_media_likes'])

In [6]:
accounts = [x['title'] for x in elikes['likes_media_likes']]
timestamp = [x['string_list_data'][0]['timestamp'] for x in elikes['likes_media_likes']]
elikes_df = pd.DataFrame({'accounts': accounts, 'timestamp': timestamp})
elikes_df.head()

      accounts   timestamp
0          iss  1423687921
1          iss  1423687906
2          iss  1423687904
3          iss  1423687901
4  smartcarusa  1423687877

In [7]:
count_elikes = elikes_df.groupby('accounts').count()
count_elikes.head()

                   timestamp
accounts
4hairfashion              24
4hairpleasure             28
5ideasaday                 2
9gag                       1
__brandonhudson__          1

In [8]:
import random

In [27]:
rand_elikes = random.sample(list(count_elikes.index), 10)
rand_elikes

['bbcnews',
 'tomdaley',
 'gr8scooter10',
 'oneplus',
 'maxisms',
 'instagram',
 'sam_domzalski4',
 'bnwboys2',
 'nasajpl',
 'kaleidoscopeme_']

In [28]:
sample_elikes = count_elikes.loc[rand_elikes]
sample_elikes

                 timestamp
accounts
bbcnews                  1
tomdaley               177
gr8scooter10             2
oneplus                 89
maxisms                 74
instagram                1
sam_domzalski4           7
bnwboys2                 9
nasajpl                201
kaleidoscopeme_         14

In [21]:
from scipy import stats
import numpy as np

In [29]:
stats.chisquare(sample_elikes['timestamp'])

Power_divergenceResult(statistic=911.2434782608696, pvalue=2.337791545422501e-190)